go 1.25.0

use (
	./packages/go
	./packages/go/vault/aws
	./packages/go/vault/azure
	./packages/go/vault/firebase
	./packages/go/vault/gcp
	./packages/go/vault/hashicorp
)

replace github.com/kitsyai/cnos/packages/go v1.11.0 => ./packages/go

replace github.com/kitsyai/cnos/packages/go/vault/gcp v1.11.0 => ./packages/go/vault/gcp
